//Dark mode
$Dark-Blue-DElem: hsl(209, 23%, 22%);   // element
$Very-Dark-Blue-DBack: hsl(200, 15%, 8%);   // background


//Light mode
$Very-Dark-Blue-LText: hsl(207, 26%, 17%); // text
$Dark-Gray-LInpt: hsl(0, 0%, 52%);  // input
$Very-Light-Gray-LBack: hsl(0, 0%, 98%);  // background

// Light && Dark
$White: hsl(0, 0%, 100%);


// Font-Sizes
$Homepage-Items-FontSize: 14px;
$Detail-Page-FontSize: 16px;


// Weights
$font-weights: ("regular": 300, "medium": 600, "bold": 800);
